{
  "name": "jsBrewery",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik",
  "team": "Infertus",
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "class",
  "default_export": "Wizard",
  "requires": [
    {
      "name": "just.js-1.0.1.js",
      "source": "https://boughpohpue.github.io/just.js/compiled/just.js-1.0.1.js"
    }
  ],
  "content": [
    "*.js"
  ],
  "description": "Javascript 'potions brewery' - dynamic objects factory from magical point of coding.",
  "tags": [
    "js",
    "javascript",
	  "objects factory",
    "dynamic objects factory",
    "javascript objects factory",
    "dynamic prototype construction",
    "deterministic descriptor building",
    "runtime type identity preservation"
  ]
}
